/* Fontes externas */
/* Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

/* -------------------------------------------------------------------------------- */
/* Estilização */
/* Rodape (rodape) */
/* IDs */
#rodape {
    border: 2px solid black;
    background-color: #200150;
}

#rodape_content {
    display: flex;
    padding: 1% 1%;
}

#rodape_credits_development {
    margin-bottom: 1%;
}

#rodape_credits_development_text_container {
    text-align: center;
}

#rodape_credits_development_text {
    color: white;
    font-size: 1.35em;
    font-family: 'Crete Round';
    letter-spacing: 1.4px;
    width: 100%;
}

/* Classes */
.rodape_section {
    flex-grow: 1;
    padding-left: 2%;
}

.rodape_section_content_title {
    font-size: 2em;
    font-family: 'Source Sans Pro';
    color: gray;
}


.rodape_section_content_list_container {
    margin-top: 5%;
    padding-left: 3%;
}

.rodape_section_content_list {
    display: flex;
    flex-direction: column;
}

.rodape_section_content_listitem {
    padding: 2.5% 0%;
}

.rodape_section_content_listitem_social {
    display: flex;
    align-items: center;
}

.listitem_social_svg_container > svg path {
    fill: white;
}

.rodape_link {
    font-size: 1.2em;
    font-family: 'Roboto';
    text-decoration: underline;
    color: white;
}

.rodape_link_extern::after {
    content: ' \1F517';
}

/* -------------------------------------------------------------------------------- */
/* Responsivo */
/* Sem necessidade de várias adaptações */
@media (max-width: 445px) {
    #rodape_content {
        flex-direction: column;
    }

    .rodape_section_content_list_container {
        margin-top: 4%;
        margin-bottom: 10%;
    }

    .rodape_link {
        font-size: 1.3em;
    }
}